<body>
         <div class="head1">

            <marquee behavior="alternate">
                <h1> Greetings </h1>
            </marquee>
        </div>
    <div class="grid">

        <div class="row">
            <form action="/greetings" method="POST">

                <div class="MyTextbox">

                    <input type="text" name="textBox" placeholder="  Please enter a name" class="takesText">
                </div>

                <div class="textBox1">

    
                    <input type="radio" name="language" class="languageRadio" value="xhosa">
                    <span class="label-body">IsiXhosa</span><br>
                    <input type="radio" name="language" class="languageRadio" value="afrikaans">
                    <span class="label-body">Afrikaans</span><br>
                    <input type="radio" name="language" class="languageRadio" value="english">
                    <span class="label-body">english</span>

                </div>
                <button class="counter1" type="submit" name="button"><strong>Greet</strong></button>
    
                
            </form>
<div class="returns">
   {{key1}}
</div>
        </div>






        <div class="MyTableLink">

            <table>
                <tr>
                    <td>
                        <a href="/greeted">Names greeted</a>
                    </td>
                    <td>
                        <span class="ViewCount">{{greeted.names}}</span>
                    </td>
                </tr>
            </table>
            </dsiv>

            <form action="/resetBn" method="POST">

                <div class="MyResetBtn">

                    <button class="button-primary  resetBtn" type="submit" name="button"><strong>Reset</strong></button>
                  
                </div>
            </form>

            <div class="MyDisplay">

                <h2 class="displayOut"><span>{{greet}}</span></h2>
            </div>

            <div class="MyCounter">
                <div>Counter : <span id="counting">{{count}}</span> </div>
            </div>

            <div class="MyErrorMsg">
                {{#if messages.info}}
                <div class="entry" id="errorInfo">
                    <p>
                        {{messages.info}}
                    </p>
                </div>
                {{/if}}
            </div>

        </div>

</body>